.team {
  background-color: var(--additional-background-color);
  padding-top: 118px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 30px * 3) / 4);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-description {
  padding: 30px 0;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}
.team-job {
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.team-contacts {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
}

.team-contacts-icon {
  fill: currentColor;
}
